<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- 	org.kosta 하위 팩키지의 클래스들을 탐색해서 
		@Component 계열 어노테이션 
		( @Repository , @Service , @Controller .. ) 
		명시된 클래스를 이용해 객체 생성하고 
		Dependency Injection 계열 어노테이션에 
		대한 처리 
		(	@Autowired : 일치하는 타입의 객체를 주입 
			@Resource  : 일치하는 타입의 객체를 주입
			@Resource(name="bean id") : 
					명시한 bean id 객체를 주입 
					어노테이션으로 생성한 객체는 
					bean id가 자동으로 소문자로 시작하는
					클래스명이  된다. 	
		) 
 -->
<context:component-scan base-package="org.kosta" />

<!--  dbcp -->
<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
	<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
	<property name="username" value="scott"/>
	<property name="password" value="tiger"/>
</bean>
<!-- Spring과 MyBatis 연동설정
      mybatis-spring:scan base-package는 @Mapper 어노테이션이 명시된 
	  인터페이스의 구현체(DAOImpl)를 생성하기 위한 설정 
	  dbcp 를 할당
	  MyBatis Mapper xml (sql 정의한 파일) 의 위치를 할당 
	  vo or dto 자동으로 별칭이 정해지도록 설정 (소문자로 시작하는 클래스명)	
	  underscore 와 camelCase 즉 
	  컬럼명과     인스턴스변수명이 자동 매핑되도록 설정 
	  ex)  product_id  와 productId 가 동일하도록 인식시킨다. 
 -->


<mybatis-spring:scan base-package="org.kosta.prac.model.mapper"/>

<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dbcp"/>
 <!-- <property name="mapperLocations" value="classpath:/mybatis/config/*.xml"/> --> 
	<property name="typeAliasesPackage" value="org.kosta.prac.model"/>
	<property name="configuration">
		<bean class="org.apache.ibatis.session.Configuration">
			<property name="mapUnderscoreToCamelCase" value="true"/>
		</bean>
	</property>
</bean>
<!-- Spring Application 에서 MyBatis를 효과적으로 사용하기 위한 객체
	  선언적 방식의 트랜잭션 처리를 지원한다 
	  ( AOP 기반 트랜잭션 처리 - 이후 공부예정 ) 
 -->
 <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
 	<constructor-arg ref="sqlSessionFactoryBean"/>
 </bean>	
</beans>











